*{
    /* box-sizing: border-box;
    margin: .1rem;
    padding: 0 */
}

/* body {

} */

.shop-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    width: 100%;
    padding: 40px 20px;
    margin: 2rem;
}

/* #plant-components {
    border: 1px solid black;
} */

.plant {
    border: 1px solid rgb(88, 86, 86);
    border-radius: 5px;
    /* transition: all 200ms ease-out; */
    box-shadow: 1px 1px 1px 1px rgb(104, 103, 103);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 15px;
    margin: 15px; 
    width: auto;
    background-color: rgb(247, 244, 244);
}


#plant-img { 
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

