html {
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: #8693AB;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

hr {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto
}

.parent{
    height: 100%;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    cursor: pointer;
    gap: 40px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 50px 50px 0px 50px
}

.footerParent{
    text-align: center;
    margin-bottom: 100px;
}

.footer-hr{
    margin-bottom: -50px;
}

.footer-area-1{
    grid-column: 1 / 2
}

.footer-area-2{
    grid-column: 2 / 4
}

.footer-area-3{
    grid-column: 5 / 6
}

hr{
    color: white;
    width: 66%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#nav{
    display: flex;
    text-align: center; 
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFDD0;
    height: 56px;
    width: 100%;
    top: 0px;
    z-index: 1;

    position: fixed;
    margin-top: 0px;
}

.main-title{
    font-size: 3.1em;
    align-self: center;
    text-decoration: none;
    font-family: 'Brush Script MT', cursive;
}

.nav-home{
    text-decoration: none;
    color: black;
    align-self: center;
}

.nav-cart{
    text-decoration: none;
    color: black;
    align-self: center;
    margin-right: 10px;
}

#nav > img{
    margin-left: 15px;
}

#nav * {
    cursor: pointer;
}

.nav-salt{
    height: 50px;
    transform: rotate(25deg);
}